/*******************************************************************************
 *                                                                             *
 * CSS Styles for core infrastructure bits.                                    *
 * Секция .root обеспечивает шрифт и цвет по умолчанию, используемые в         *
 * остальных секциях                                                           *
 *                                                                             *
 ******************************************************************************/

.root {

    -custom-color-gray_1: rgba(56, 56, 56, 1);
    -custom-color-gray_2: rgba(87, 87, 87, 1);
    -custom-color-gray_3: rgba(117, 117, 117, 1);
    -custom-color-gray_4: rgba(153, 153, 153, 1);
    -custom-color-gray_5: rgba(186, 186, 186, 1);
    -custom-color-gray_6: rgba(204, 204, 204, 1);
    -custom-color-gray_7: rgba(227, 227, 227, 1);

    -custom-color-red_1: rgba(217, 0, 0, 1);
    -custom-color-red_2: rgba(252, 5, 5, 1);

    -custom-font-family_1: 'Swiss Cyrilic BT Roman';
    -custom-font-family_2: 'Tahoma';
    -custom-font-family_3: 'Arial';
    -custom-font-family_3: 'Open Sans';

    /***************************************************************************
     *                                                                         *
     * Основная цветовая палитра из которой получаются все остальные цвета     *
     *                                                                         *
     **************************************************************************/

    /* Базовый цвет для объектов. Вместо того, чтобы использовать -fx-base непосредственно
     * секции в этом файле обычно используют -fx-color
     */
    -fx-base: -custom-color-gray_4;

    /* Используется для фона окон. Смотрите также -fx-text-background-color, который должен быть использован в
     * качестве значения -fx-text-fill заливки для текста, надписи верхней части фона с цветным -fx-background
     */
    -fx-background: derive(-fx-base,26.4%);

    /* Используется для внутренней части text boxes, password boxes, lists, trees, and tables.
     * Смотрите также -fx-text-inner-color, который должен быть использован в качестве значения -fx-text-fill заливки для текста,
     * написанные на верхней части фона с цветными -fx-control-inner-background.
     */
    -fx-control-inner-background: derive(-fx-base,80%);

    /* Один из этих цветов будет выбран на основании расчета лестницы, которая использует яркость цвета фона.
     * Вместо того чтобы использовать эти цвета непосредственно в качестве -fx-текста заполнения значения,
     * секции в этом файле должны использовать полученный цвет, чтобы соответствовать фона в использовании.
     * Смотрите также:
     *
     * -fx-text-base-color for text on top of -fx-base, -fx-color, and -fx-body-color
     * -fx-text-background-color for text on top of -fx-background
     * -fx-text-inner-color for text on top of -fx-control-inner-color
     * -fx-selection-bar-text for text on top of -fx-selection-bar
     */
    -fx-dark-text-color: black;
    -fx-mid-text-color: #333;
    -fx-light-text-color: white;

    /* Цвет для выделения/акцентирования элементов.
     * For example: selected text, selected items in menus, lists, trees, and tables, progress bars, default buttons.
     */
    -fx-accent: -custom-color-red_1; /*#0096C9;*/

    /* Цвет индикатора фокусировки объектов. Как правило, используется в качестве первого параметра -fx-background-color
     * для pseudo-class "focused". Кроме того, как правило, используется с отступами -1.4 для обеспечения эфекта свечения.
     */
    -fx-focus-color: #0093ff;

    /* Цвет, который используется при установке стиля элемента.
     * Значение по умолчанию основывается на -fx-base, но изменения для pseudo-class изменяют базовый цвет.
     * Например, "hover" обычно устанавливает -fx-color в -fx-hover-base и "armed", как правило, устанавливает -fx-color
     * в на -fx-pressed-base.
     *
     */
    -fx-color: -fx-base;

    /* Уровень непрозрачности для использования "disabled" pseudo-class
     */
    -fx-disabled-opacity: 0.4;

    /***************************************************************************
     *                                                                         *
     * Цвета, которые вытекают из основной цветовой палитры                    *
     *                                                                         *
     **************************************************************************/

    /* Используется в качестве цвета (-fx-color) для "hovered" pseudo-class.
     */
    -fx-hover-base: ladder(
            -fx-base,
            derive(-fx-base,20%) 20%,
            derive(-fx-base,30%) 35%,
            derive(-fx-base,40%) 50%
    );

    /* Используется в качестве цвета (-fx-color) для "armed" preudo-class.
     */
    -fx-pressed-base: derive(-fx-base,-20%);

    /* Используется в качестве цвета фона для сфокусированных объектов.
     * По умолчанию присваивается значение -fx-base (т.е. цвет фона не меняется, когда элемент управления получает фокус)
     */
    -fx-focused-base: -fx-base;

    /* Цвет используется для -fx-text-fill, когда текст должен быть нарисован на верхней части цвета фона, установленного с
     * помощью -fx-backgroung
     */
    -fx-text-background-color: ladder(
            -fx-background,
            -fx-light-text-color 45%,
            -fx-dark-text-color  46%,
            -fx-dark-text-color  59%,
            -fx-mid-text-color   60%
    );

    /* Цвет по умолчанию для всего текста. В секциях необходимо изменить -fx-text-fill для его изменения.
     * Смотрите также:
     *
     * -fx-text-base-color for text on top of -fx-base, -fx-color, and -fx-body-color
     * -fx-text-background-color for text on top of -fx-background
     * -fx-text-inner-color for text on top of -fx-control-inner-color
     * -fx-selection-bar-text for text on top of -fx-selection-bar
     */
    -fx-text-fill: -fx-text-background-color;

    /* Цвет используется для рисования контура вокруг элементов управления - progress bars, scroll bars, scroll panes,
     * trees, tables, lists.
     */
    -fx-box-border: ladder(
            -fx-color,
            black 20%,
            derive(-fx-color,-30%) 30%
    );

    /* Цвет используется для рисования контура вокруг элементов управления - text boxes, password boxes.
     */
    -fx-text-box-border: ladder(
            -fx-background,
            black 10%,
            derive(-fx-background, -15%) 30%
    );

    /* Цвет используется для обеспечения небольшого блика под элементами управления и mark checkboxes b radio buttons.
     * Часто используется при insets 0 0 -1 0, а также в качестве первого параметра -fx-background-color.
     * Кроме того, как правило, заменяет -fx-focus-color при insets -1.4 для "focused" pseudo-class.
     */
    -fx-shadow-highlight-color: ladder(
            -fx-background,
            transparent 0%,
            derive(-fx-background,40%)   5%,
            derive(-fx-background,60%)  70%,
            derive(-fx-background,100%) 85%,
            derive(-fx-background,100%) 97%,
            derive(-fx-background,-10%) 97.5%
    );

    /* Цвет градиента для небольшой тонкой границы вокруг элемента управления. Как правило, имеет такой же размер, как
     * элемент управления (т.е. insets 0)
     */
    -fx-outer-border: linear-gradient(
            to bottom,
            derive(-fx-color,-9%) 0%,
            derive(-fx-color,-33%) 100%
    );

    /* Цвет градиента для небольшой тонкой подсветки внутри внешней границы элемента управления. Как правило, используется
     * в качестве третьего параметра -fx-background-color. Insets, как правило, 1.
     */
    -fx-inner-border: linear-gradient(
            to bottom,
            ladder(-fx-color,
            derive(-fx-color,80%) 60%,
            white 82%) 0%,
            ladder(-fx-color,
            derive(-fx-color,20%) 10%,
            derive(-fx-color,-10%) 80%) 100%
    );

    -fx-inner-border-horizontal: linear-gradient(
            to right,
            ladder(-fx-color,
            derive(-fx-color,80%) 60%,
            white 82%) 0%,
            ladder(-fx-color,
            derive(-fx-color,20%) 10%,
            derive(-fx-color,-10%) 80%) 100%
    );

    -fx-inner-border-bottomup: linear-gradient(
            to top,
            ladder(-fx-color,
            derive(-fx-color,80%) 60%,
            white 82%) 0%,
            ladder(-fx-color,
            derive(-fx-color,20%) 10%,
            derive(-fx-color,-10%) 80%) 100%
    );

    /* Цвет градиента, который используется для заполнения фона многих элементов управления, таких как buttons. Как праило,
     * используется в качестве четвертого параметра -fx-background-color и представляет собой основной цвет элемента
     * управления. Insets, как правило, 2.
     */
    -fx-body-color: linear-gradient(
            to bottom,
            derive(-fx-color,34%) 0%,
            derive(-fx-color,-18%) 100%
    );

    -fx-body-color-bottomup: linear-gradient(
            to top,
            derive(-fx-color,34%) 0%,
            derive(-fx-color,-18%) 100%
    );

    /* Цвет используется в качестве -fx-text-fill для текста расположенного поверх фона заполненного с помощью
     * -fx-base, -fx-color, -fx-body-color
     */
    -fx-text-base-color: ladder(
            -fx-color,
            -fx-light-text-color 45%,
            -fx-dark-text-color  46%,
            -fx-dark-text-color  59%,
            -fx-mid-text-color   60%
    );

    /* Цвет используется в качестве -fx-text-fill для текста расположенного поверх фона заполненного с помощью
     * -fx-control-inner-background
     */
    -fx-text-inner-color: ladder(
            -fx-control-inner-background,
            -fx-light-text-color 45%,
            -fx-dark-text-color  46%,
            -fx-dark-text-color  59%,
            -fx-mid-text-color   60%
    );

    -fx-text-alarm-color: darkred;
    -fx-text-approved-color: darkgreen;
    -fx-text-modify-color: darkblue;

    /* Цвет используется для небольшого выделения (mark) для таких элементов - check для улемента check boxes,
     * filled для radio buttons, arrows для scroll bars и т.п.
     */
    -fx-mark-color: ladder(
            -fx-color,
            white 30%,
            derive(-fx-color,-63%) 31%
    );

    /* Небольшой тонкий цвет для выделения (mark). Как правило, используется в сочетании с insets 1 0 -1 0.
     */
    -fx-mark-highlight-color: ladder(
            -fx-color,
            derive(-fx-color,80%) 60%,
            white 70%
    );

    /* Цвет фона для элементов списка таких элементов управления, как menus, lists, trees, tables.
     */
    -fx-selection-bar: linear-gradient(
            to bottom,
            derive(-fx-background,-7%) 0%,
            derive(-fx-background,-34%) 100%
    );

    /* Цвет используется в качестве -fx-text-fill для текста расположенного поверх фона заполненного с помощью
     * -fx-selection-bar
     */
    -fx-selection-bar-text: ladder(
            -fx-background,
            -fx-light-text-color 50%,
            -fx-mid-text-color   51%
    );

    /* Цвет границы по умолчанию для tab
     */
    -fx-tab-border-color: -fx-box-border;

    /* Для Popup
     */
    -fx-background-color: inherit;
    -fx-background-radius: inherit;
    -fx-background-insets: inherit;
    -fx-padding: inherit;

    /* Цвет для элементов ListView/TreeView/TableView для индикации hover
     */
    -fx-cell-hover-color: -custom-color-red_1; /*#cce3f4;*/

    -fx-cell-focus-inner-border: #85b9de;
}

.mnemonic-underline {
    -fx-stroke: transparent;
}

.text {
    -fx-font-smoothing-type: lcd;
}

/*******************************************************************************
 *******************************************************************************
 **                                                                           **
 ** CSS секции для отдельных элементов управления.                            **
 ** Каждый элемент будет иметь основной раздел, который определяет следующее: **
 ** section that defines the following:                                       **
 **                                                                           **
 ** .control-name {                                                           **
 **     -fx-background-color: a, b, c, d                                      **
 **     -fx-background-insets: e, f, g, h                                     **
 **     -fx-background-radius: i, j, k, l                                     **
 **     -fx-padding: m                                                        **
 **     -fx-text-fill: n                                                      **
 ** }                                                                         **
 **                                                                           **
 ** где:                                                                      **
 **                                                                           **
 ** -fx-background-color, -fx-background-insets, and -fx-background-radius    **
 ** массивы, определяющие цвета фона элемента управления.                     **
 **                                                                           **
 ** -fx-background представляет последовательность цветов для областей,       **
 ** которые будут нарисованы, один поверх другого                             **
 **                                                                           **
 ** -fx-background-insets представляет собой разделенный запятыми список      **
 ** insets, которые определяют верхнюю, правую, нижнюю и левую insets         **
 ** для каждого цвета, определенного с помощью -fx-background-color.          **
 ** Если указано одно значение в списке, то оно используется для всех         **
 ** insets.                                                                   **
 ** При указании отрицательного значения, будет использоваться область за     **
 ** пределами элемента управления.                                            **
 **                                                                           **
 ** -fx-background-radius представляет собой разделенный запятыми список      **
 ** радиусов, которые определяют радиусы правого верхнего, правого нижнего,   **
 ** левого нижнего, левого верхнего углов прямоугольника, ассоциированного    **
 ** с прямоугольником задаанным списком значений -fx-background-color.        **
 ** Также как и в случае с -fx-background-insets, одно значение в списке      **
 ** может использоваться для всех radius.                                     **
 **                                                                           **
 ** Как правило, будут использованы следующие значения:                       **
 **                                                                           **
 **    a/e/i = -fx-shadow-highlight-color, 0 0 -1 0, 5                        **
 **            Рисует фон с подсветкой со смещением на 1 пиксель вниз с       **
 **            углами, имеющими радиус 5 пикселей.                            **
 **    b/f/j = -fx-outer-border, 0, 5                                         **
 **            Рисует небольшую тонкую границу по размерам элемента           **
 **            управления (insets = 0) с углами, имеющими радиус 5 пикселей.  **
 **    c/g/k = -fx-inner-border, 1, 4                                         **
 **            Рисует небольшую тонкую подсветка внутри внешней границы       **
 **            элемента управления с insets 1 пиксель и с углами, имеющими    **
 **            радиус 4.                                                      **
 **    d/h/l = -fx-body-color, 2, 3                                           **
 **            Рисует фон элемента управления с insets 2 пикселя и углами,    **
 **            имеющими радиус 3.                                             **
 **    m     = Отступы между элементами управления отображаемые на содержимом **
 **            представления (skin)                                           **
 **    n     = Если указан цвет, выбранный для -fx-text-fill, то он должен    **
 **            соответствовать цвету указанному в -fx-background-color        **
 **            (e.g., 'd').                                                   **
 **            See the -fx-text-fill entry in .scene for more information.    **
 **                                                                           **
 ** The control will also typically define pseudoclass sections for when it   **
 ** is focused, when the mouse is hovering over it ("hover") and when the     **
 ** mouse button is being held down on it (e.g., "armed").                    **
 **                                                                           **
 ** For example, in the "focused" pseudoclass, -fx-focus-color will typically **
 ** just replace -fx-shadow-highlight-color and will be drawn so it extents   **
 ** outside the control with a glowing effect.  The glowing effect is         **
 ** achieved by using a non-integer insets value of -1.4 and the radius       **
 ** is adjusted accordingly.                                                  **
 **                                                                           **
 ** .control-name:focused {                                                   **
 **     -fx-background-color: -fx-focus-color, b, c, d                        **
 **     -fx-background-insets: -1.4, f, g, h                                  **
 **     -fx-background-radius: 6.4, j, k, l                                   **
 **  }                                                                        **
 **                                                                           **
 ** In the "hover" pseudoclass, the -fx-color is replaced with -fx-hover-base **
 ** which will result in a re-derivation of the other colors in               **
 ** -fx-background-colors:                                                    **
 **                                                                           **
 ** .control-name:hover {                                                     **
 **     -fx-color: -fx-hover-base;                                            **
 ** }                                                                         **
 **                                                                           **
 ** In the "armed" pseudoclass, the -fx-color is replaced with                **
 ** -fx-pressed-base, which will result in a rederivation of the other colors **
 ** in -fx-background-colors:                                                 **
 **                                                                           **
 ** .control-name:armed {                                                     **
 **     -fx-color: -fx-pressed-base;                                          **
 ** }                                                                         **
 **                                                                           **
 ** The control will also typically include a  "disabled" pseudoclass which   **
 ** makes the component transparent:                                          **
 **                                                                           **
 ** .control-name:disabled {                                                  **
 **     -fx-opacity: -fx-disabled-opacity;                                    **
 ** }                                                                         **
 **                                                                           **
 *******************************************************************************
 ******************************************************************************/

/*******************************************************************************
 *******************************************************************************
 **                                                                           **
 ** NOTE on em values:  em values are used for padding and other sizing       **
 ** throughout this file.  Size values in ems represent fraction of the       **
 ** font size in use.  As used in this file, each 1/12th represents a pixel   **
 ** based upon the default size of 12px.  Here's a table for quick reference: **
 **                                                                           **
 ** 1px:    0.083333em                                                        **
 ** 2px:    0.166667em                                                        **
 ** 3px:    0.25em                                                            **
 ** 4px:    0.333333em                                                        **
 ** 5px:    0.416667em                                                        **
 ** 6px:    0.5em                                                             **
 ** 7px:    0.583333em                                                        **
 ** 8px:    0.666667em                                                        **
 ** 9px:    0.75em                                                            **
 ** 10px:   0.833333em                                                        **
 ** 11px:   0.916667em                                                        **
 ** 12px:   1.0em                                                             **
 **                                                                           **
 *******************************************************************************
 ******************************************************************************/

/*******************************************************************************
 *                                                                             *
 * Custom Panes                                                                *
 *                                                                             *
 ******************************************************************************/

/* основная панель приложения
 */
.custom-application {
    -fx-background-color: -custom-color-gray_1;
}

/* панель инструментов приложения
 */
.custom-application-toolbar {
    -fx-background-color: -custom-color-gray_7;
}

/* панель инструментов
*/
.custom-toolbar {
    -fx-background-color: gray, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 0 0 1 0;
    -fx-background-radius: 0;
}

/* панель используемая "по умолчанию"
 */
.custom-empty-view {
    -fx-color: -fx-base;
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 0 0 0 0;
    -fx-background-radius: 0;
    -fx-opacity: 96%;
}

/* панель используемая "по умолчанию"
 */
.custom-transparent-view {
    -fx-color: -fx-base;
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 0 0 0 0;
    -fx-background-radius: 0;
    -fx-opacity: 96%;
}

/* панель status bar
 */
/*.custom-statusbar {
    -fx-background-color: -fx-box-border, -fx-inner-border, rgb(228,228,228);
    -fx-background-insets: 0, 0.5, 1 0 0 0;
    -fx-background-radius: 0;
}*/

/*
*/
/*.custom-login-view {
    -fx-background-color: linear-gradient(to bottom, rgb(29,30,32), rgb(60,66,75));
}*/

/* группа авторизации пользователя */
/*.custom-login {
    -fx-background-color:  rgba(49,51,53,0.4);
    -fx-border-color: gray;
    -fx-border-radius: 10;
    -fx-padding: 20 40 40 40;
    -fx-background-radius: 10;
}*/

/* панель поиска */
/*.custom-search-view {
    -fx-background-color:  transparent;
    -fx-border-color: gray;
    -fx-border-radius: 10;
    -fx-padding: 40 20 10 20;
    -fx-background-radius: 10;
}*/

/* панель группы */
.custom-group-view {
    -fx-background-color:  -custom-color-gray_7; /*-fx-box-border, -fx-inner-border, -fx-control-inner-background;*/
    -fx-padding: 0; /*10 20 10 20;*/
    -fx-background-radius: 0;
}

/* панель popup
*/
.custom-popup {
    -fx-color: -fx-base;
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 1;
    -fx-background-radius: 0;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
    -fx-opacity: 80%;
}

.custom-left-title {
    -fx-color: -fx-base;
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 1;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.083333em 0.0em 0.0em; /* 4 1 8 1 */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
    -fx-opacity: 80%;
}

/*******************************************************************************
 *                                                                             *
 * Custom Button                                                               *
 *                                                                             *
 ******************************************************************************/

.custom-button {
    -fx-font-family: -custom-font-family_1;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

/*******************************************************************************
 *                                                                             *
 * Custom Toolbar Button                                                       *
 *                                                                             *
 ******************************************************************************/

.custom-toolbar-button {
    -fx-background-color: transparent;
    -fx-alignment: center-left;
    -fx-font-family: -custom-font-family_1;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

.custom-toolbar-button:hover {
    -fx-cursor: hand;
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 1;
}

/*******************************************************************************
 *                                                                             *
 * Custom Login Button                                                         *
 *                                                                             *
 ******************************************************************************/

/*.custom-login-button {
    -fx-background-color: linear-gradient(orange, orangered);
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
}*/

/*.custom-login-button:focused {
    -fx-background-color: linear-gradient(orange, orangered);
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
}*/

/*******************************************************************************
 *                                                                             *
 * Custom Label                                                                *
 *                                                                             *
 ******************************************************************************/

/* надпись
*/
.custom-label {
    -fx-text-fill: -custom-color-gray_1; /*-fx-text-background-color;*/

    -fx-font-family: -custom-font-family_1;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

/* надпись заголовка
*/
.custom-header-label {
    -fx-text-fill: -fx-text-background-color;

    -fx-font-family: 'Helvetica';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* разделительная надпись (группа)
*/
.custom-separator-label {
    -fx-text-fill: -custom-color-red_1;
    -fx-padding: 5.0 0.0 0.0 0.0;
    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

/* надпись предупреждение
*/
.custom-warning-label {
    -fx-text-fill: red;

    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

/* поясняющая надпись (описание)
*/
.custom-sub-label {
    -fx-text-fill: gray;

    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

/* надпись-гиперссылка
*/
.custom-command-label {
    -fx-text-fill: blue; /*-fx-text-background-color;*/

    -fx-cursor: hand;

    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

.custom-command-label:hover {
    -fx-color: -fx-focused-base;
    -fx-underline: true;
}

/*******************************************************************************
 *                                                                             *
 * Custom Login Title                                                          *
 *                                                                             *
 ******************************************************************************/

.custom-login-title {
    -fx-font-family: 'Helvetica';
    -fx-font-size: 24px;
    -fx-text-fill: linear-gradient(orange, orangered);
    -fx-font-weight: bold;
}

.custom-login-subtitle {
    -fx-font-family: 'Helvetica';
    -fx-font-size: 18px;
    -fx-text-fill: linear-gradient(gray, lightgray);
    -fx-font-weight: bold;
}

.custom-login-label {
    -fx-text-fill: linear-gradient(gray, lightgray);

    -fx-font-family: 'Helvetica';
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

/*******************************************************************************
 *                                                                             *
 * Custom TextField                                                            *
 *                                                                             *
 ******************************************************************************/

.custom-text {
    -fx-background-color: whitesmoke, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 1;
    -fx-background-radius: 0;
    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
    -fx-prompt-text-fill: gray;
}

.custom-text:focused {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.2, 0.5, 1;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Custom Login TextField                                                      *
 *                                                                             *
 ******************************************************************************/

.custom-login-text {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-background-insets: 0, 0.5, 1;
    -fx-background-radius: 0;
    -fx-font-family: 'Helvetica';
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.custom-login-text:focused {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-background-insets: -0.2, 0.5, 1;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Custom CheckBox                                                             *
 *                                                                             *
 ******************************************************************************/

.custom-check-box {
    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
}

.custom-check-box > .box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0, 0.5, 1;
    -fx-background-radius: 0;
}

.custom-check-box:focused > .box {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: -0.7, 0, 0.5, 1;
    -fx-background-radius: 0;
}


/*******************************************************************************
 *                                                                             *
 * Custom ComboBox                                                             *
 *                                                                             *
 ******************************************************************************/

.custom-combo-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0.5, 1;

    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
}

.custom-combo-box:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: -0.2, 0.5, 1;
    -fx-background-radius: 0;
}

.custom-combo-box > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;

    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
}

.custom-combo-box > .list-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

/*******************************************************************************
 *                                                                             *
 * Custom Titled ComboBox                                                      *
 *                                                                             *
 ******************************************************************************/

.custom-titled-combo-box {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0.5, 1;

    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
}

.custom-titled-combo-box:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: -0.2, 0.5, 1;
    -fx-background-radius: 0;
}

.custom-titled-combo-box > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;

    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
}

.custom-titled-combo-box > .list-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

/*******************************************************************************
 *                                                                             *
 * Custom DatePicker                                                           *
 *                                                                             *
 ******************************************************************************/

.custom-date-picker {
    -fx-background: -fx-control-inner-background;
}

.custom-date-picker > .text-field {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0.5, 1;

    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
}

.custom-date-picker > .arrow-button {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 1;
    -fx-background-radius: 0;
}

.custom-date-picker:contains-focus > .text-field,
.custom-date-picker:contains-focus > .arrow-button {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: -0.2, 0.5, 1;
    -fx-background-radius: 0;
}

/*******************************************************************************
 *                                                                             *
 * Custom ScrollPane                                                           *
 *                                                                             *
 ******************************************************************************/

.custom-scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.custom-scroll-pane:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.custom-scroll-pane > * > .scroll-bar:horizontal,
.custom-scroll-pane > * > .scroll-bar:vertical{
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.custom-scroll-pane > .viewport {
    -fx-background-color: -fx-focus-color, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0;
}

.custom-scroll-pane .corner {
    -fx-background-color: transparent;
    -fx-background-insets: 0
}

/*******************************************************************************
 *                                                                             *
 * Custom TableView and TreeTableView                                          *
 *                                                                             *
 ******************************************************************************/

.custom-table-view {
    -fx-background-color: transparent; /*-fx-box-border, -fx-control-inner-background;*/
    -fx-background-insets: 0/*,1*/;
    -fx-padding: 0.5;
    -fx-table-header-border-color: whitesmoke;
    -fx-table-cell-border-color: -fx-control-inner-background; /*derive(-fx-base,+10%);*/

    -fx-font-family: -custom-font-family_1;
    -fx-font-size: 12px;
}

.custom-table-view .scroll-bar
{
    -fx-background-color: transparent;
}

.custom-table-view .scroll-bar:horizontal .thumb {
    -fx-background-color: -custom-color-gray_5;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 0em;
    -fx-pref-height: 10px;
}

.custom-table-view .scroll-bar:vertical .thumb {
    -fx-background-color: -custom-color-gray_5;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 0em;
    -fx-pref-width: 10px;
}

.custom-table-view:focused,
.custom-tree-table-view:focused {
    -fx-background-color: transparent; /*-fx-focus-color,-fx-box-border,-fx-control-inner-background;*/
    -fx-background-insets: -0.7, 0, 0.5;
    -fx-background-radius: 0;
    -fx-padding: 1;
}

.custom-table-view .table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 0.5 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-text-fill: -fx-text-inner-color;
    -fx-cell-size: 24px;
}

.custom-table-view .table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 0.5 0;
}

.custom-table-view .table-row-cell:focused,
.custom-tree-table-view .tree-table-row-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 1;
}

.custom-table-view .table-row-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0.5, 1;
}

.custom-table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:selected,
.custom-tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -custom-color-red_1;
    -fx-background-insets: 0, 0.5, 1;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.custom-table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected > .table-cell,
.custom-tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected > .tree-table-cell {
    -fx-text-fill: -fx-selection-bar-text;
}

.custom-table-view .table-row-cell:filled:selected:focused,
.custom-table-view .table-row-cell:filled:selected,
.custom-tree-table-view .tree-table-row-cell:filled:selected:focused,
.custom-tree-table-view .tree-table-row-cell:filled:selected {
    -fx-background-color: -custom-color-gray_6;
    -fx-text-fill: -fx-selection-bar-text;
}

.custom-table-view .table-cell {
    -fx-padding: 0.166667em;

    -fx-background-color: transparent;
    -fx-border-color: transparent; /* -fx-table-cell-border-color transparent transparent*/;
    -fx-border-width: 1px;
    -fx-cell-size: 24px;
    -fx-text-fill: -fx-text-inner-color;
}

.custom-table-view .table-row-cell:filled .table-cell:selected:focused,
.custom-table-view .table-row-cell:filled .table-cell:selected,
.custom-tree-table-view .tree-table-row-cell:filled .tree-table-cell:selected:focused,
.custom-tree-table-view .tree-table-row-cell:filled .tree-table-cell:selected {
    -fx-background-color: lightgray;
    -fx-text-fill: -fx-selection-bar-text;
}

.custom-table-view .column-header-background,
.custom-tree-table-view .column-header-background {
    -fx-background-color: transparent; /*-fx-control-inner-background*/;
    -fx-padding: 0;
}

.custom-table-view .column-header,
.custom-tree-table-view .column-header {
    -fx-background-color: -custom-color-gray_5; /*-fx-control-inner-background;*/

    -fx-text-fill: -custom-color-red_1; /*-fx-selection-bar-text;*/
    -fx-font-family: -custom-font-family_1;
    -fx-font-size: 12px;
    -fx-size: 25;
    -fx-border-style: solid;
    -fx-border-color:
            transparent
            transparent
            -fx-table-header-border-color
            transparent,
            transparent
            transparent
            -fx-table-header-border-color
            transparent;
    -fx-border-insets: 0.5;
    -fx-border-width: 0.5;
}

.custom-table-view .filler,
.custom-tree-table-view .filler {
    -fx-background-color: -custom-color-gray_5;

    -fx-size: 25;
    -fx-border-style: solid;
    -fx-border-color:
            transparent
            transparent
            -fx-table-header-border-color
            transparent,
            transparent
            transparent
            -fx-table-header-border-color
            transparent;
    -fx-border-insets: 0.5;
    -fx-border-width: 0.5;
}

.custom-table-view .column-header .label,
.custom-tree-table-view .column-header .label {
    -fx-alignment: center-left;
    -fx-font-family: -custom-font-family_1;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: -custom-color-red_1;
}

.custom-table-view .empty-table,
.custom-tree-table-view .empty-table {
    -fx-background-color: -custom-color-red_1;
    -fx-font-family: -custom-font-family_1;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


.custom-table-view > .column-header-background > .show-hide-columns-button,
.custom-tree-table-view > .column-header-background > .show-hide-columns-button {
    -fx-background-color: -custom-color-gray_5;
}

.custom-table-view > .column-header-background > .show-hide-columns-button:hover,
.custom-tree-table-view > .column-header-background > .show-hide-columns-button:hover {
    -fx-cursor: hand;
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 1;
}

/*******************************************************************************
 *                                                                             *
 * Custom ListView and ListCell                                                *
 *                                                                             *
 ******************************************************************************/

.custom-list-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5;
    -fx-padding: 0.5;
}

.custom-list-view:focused {
    -fx-background-color: -fx-focus-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -0.7, 0, 0.5;
    -fx-background-radius: 0.7, 0, 0;
    -fx-padding: 0.5;
}

.custom-list-view > .virtual-flow > .scroll-bar:vertical{
    -fx-background-insets: 0, 0 0 0 0.5;
    -fx-padding: -0.5 -0.5 -0.5 0;
}

.custom-list-view > .virtual-flow > .scroll-bar:horizontal{
    -fx-background-insets: 0, 0.5 0 0 0;
    -fx-padding: 0 -0.5 -0.5 -0.5;
}

.custom-list-view:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.custom-list-view > .virtual-flow > .corner {
    -fx-background-color: -fx-box-border, -fx-base;
    -fx-background-insets: 0, 0.5 0 0 0.5;
}

.list-cell {
    -fx-background-color: -fx-control-inner-background;
    /*-fx-padding: 1.5;*/
    -fx-text-fill: -fx-text-inner-color;
    -fx-opacity: 1;

    -fx-fill: 'Helvetica';
    -fx-font-size: 12px;
    -fx-cell-size: 24px;
}

.list-cell:odd {
    -fx-background-color: derive(-fx-control-inner-background,-5%);

    -fx-fill: 'Helvetica';
    -fx-font-size: 12px;
}

.custom-list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 1;
}

.custom-list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0.5, 1;
}

.custom-list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 0.5, 1;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.custom-list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.custom-list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.custom-list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 0.5, 1;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected,
.custom-list-view:horizontal > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: lightgray;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-cell:filled:selected:focused:disabled,
.list-cell:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.list-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}

.custom-list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0, 0.5, 1;
    -fx-text-fill: -fx-text-inner-color;
}

.custom-list-view:horizontal > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.custom-list-view:horizontal > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-color: linear-gradient(to right, derive(-fx-accent,-7%), derive(-fx-accent,-25%));
}

/*******************************************************************************
 *                                                                             *
 * Custom SplitPane                                                            *
 *                                                                             *
 ******************************************************************************/

.custom-tab-pane > * > .custom-tab-pane,
.custom-tab-pane > * > .custom-table-view,
.custom-tab-pane > * > .custom-list-view,
.custom-tab-pane > * > .tree-view,
.custom-tab-pane > * > .custom-scroll-pane,
.custom-tab-pane > * > .custom-split-pane,
.custom-split-pane > * > .custom-tab-pane,
.custom-split-pane > * > .custom-table-view,
.custom-split-pane > * > .custom-list-view,
.custom-split-pane > * > .tree-view,
.custom-split-pane > * > .custom-scroll-pane,
.custom-split-pane > * > .custom-split-pane {
}

.custom-split-pane {
    -fx-background-color: transparent;
}

.custom-split-pane > .split-pane-divider {
}

.custom-split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent transparent derive(-fx-base,20%);
    /*-fx-background-color: transparent, derive(-fx-base,20%);*/
    -fx-background-insets: 0, 0 1 0 1;
}

.custom-split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-border-color: derive(-fx-base,20%) transparent transparent transparent;
    /*-fx-background-color: transparent, derive(-fx-base,20%);*/
    -fx-background-insets: 0, 1 0 1 0;
}

.custom-split-pane > .split-pane-divider > .horizontal-grabber {
}

.custom-split-pane > .split-pane-divider > .vertical-grabber {
}

/*******************************************************************************
 *                                                                             *
 * Custom TabPane                                                              *
 *                                                                             *
 ******************************************************************************/

.custom-tab-pane {
    -fx-tab-min-height: 1.75em; /* 21 */
    -fx-tab-max-height: 1.75em; /* 21 */
    -fx-background-color: transparent;
}

.custom-tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-background-color: transparent;
    /*-fx-text-fill: -custom-color-red_1;*/
    -fx-font-family: -custom-font-family_1;
    -fx-font-size: 12px;
    -fx-alignment: CENTER;
}

.custom-tab-pane > .tab-content-area {
    -fx-background-color: transparent; /*-fx-control-inner-background;*/
    -fx-padding: 5, 0, 0, 0; /* 0 */
}

.custom-tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: -custom-color-gray_6, -fx-control-inner-background, -custom-color-gray_7;
    -fx-background-insets: 0, 0 0 1 0, 0;
    -fx-background-radius: 0;
}

.custom-tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -custom-color-gray_6, -fx-control-inner-background, -custom-color-gray_6; /*-fx-control-inner-background;*/
    -fx-background-insets: 0, 0 0 1 0, 0;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
}

.custom-tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -custom-color-gray_6, -fx-control-inner-background, transparent;
    -fx-background-insets: 0, 0 0 1 0, 0;
}

/*******************************************************************************
 *                                                                             *
 * Custom PopupMenu                                                            *
 *                                                                             *
 ******************************************************************************/

.custom-context-menu {
    -fx-color: -fx-base;
    -fx-background-color:
            derive(-fx-color,-40%),
            derive(-fx-color,100%),
            linear-gradient(to bottom, derive(-fx-color,100%) 0%, derive(-fx-color,50%) 12%, derive(-fx-color,65%) 88%, derive(-fx-color,23%) 100%);
    -fx-background-insets: 0, 0.5, 1;
    -fx-background-radius: 0;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */

    -fx-fill: 'Helvetica';
    -fx-font-size: 12.0px;
}

.custom-context-menu > .separator {
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em; /* 0 4 0 4 */
}

.custom-context-menu > .scroll-arrow {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; /* 5 */
    -fx-background-color: transparent;
}

.custom-context-menu > .scroll-arrow:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.custom-context-menu:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

/*******************************************************************************
 *                                                                             *
 * Custom TitledPane                                                           *
 *                                                                             *
 ******************************************************************************/

.custom-titled-pane {
    -fx-text-fill: -custom-color-red_1;
    -fx-font-family: -custom-font-family_1;
    -fx-font-size: 12px;
}

.custom-titled-pane > .title {
    -fx-background-color: -fx-box-border, -fx-inner-border, -custom-color-gray_4;
    -fx-background-insets: 0, 0.5, 1;
    -fx-background-radius: 0;
    -fx-padding: 5.0 0.0 3.0 10.0;
    -fx-font-weight: bold;
}

.custom-titled-pane > *.content {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0;
}

/*******************************************************************************
 *                                                                             *
 * Custom PropertyGroupPane                                                    *
 *                                                                             *
 ******************************************************************************/

.custom-property-group-pane {
    -fx-background-color: transparent;
}

.custom-property-group-pane > .accordion > .titled-pane {
    -fx-text-fill: -fx-text-background-color;
    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
}

.custom-property-group-pane > .accordion > .titled-pane > .title {
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0, 0 0 1 0;
    -fx-background-radius: 0, 0, 0;

    -fx-font-weight: bold;
}

.custom-property-group-pane > .accordion > .first-titled-pane > .title {
    -fx-background-insets: 0, 0, 0 0 1 0;
}

.custom-property-group-pane > .accordion > .titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: rgb(99,99,99);
}

.custom-property-group-pane > .accordion > .titled-pane:focused > .titled-pane:collapsed > .title > .arrow-button > .arrow {
    -fx-background-color: rgb(99,99,99);
}

.custom-property-group-pane > .accordion > .titled-pane:collapsed:focused > .title {
    -fx-color: -fx-control-inner-background;
}

.custom-property-group-pane > .accordion > .titled-pane > .content {
    -fx-background-color: transparent;
    -fx-border-color: null;
}

/*******************************************************************************
 *                                                                             *
 * Custom ProgressIndicator                                                    *
 *                                                                             *
 ******************************************************************************/

.custom-indicator-progress {
    -fx-indeterminate-bar-length: 60;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 5;
    -fx-accent: lightgray;
}

.custom-indicator-progress > .bar {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-accent, -7%), derive(-fx-accent, 0%), derive(-fx-accent, -3%), derive(-fx-accent, -9%) );
    -fx-background-insets: 4 3 4 3;
    -fx-background-radius: 2;
    -fx-padding: 0.75em;
}

.custom-indicator-progress:indeterminate > .bar {
    -fx-background-color: linear-gradient(to left, transparent, -fx-accent);
}

.custom-indicator-progress > .track {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/*******************************************************************************
 *                                                                             *
 * Custom ChoiseBox                                                            *
 *                                                                             *
 ******************************************************************************/

.custom-sprav-box {
    -fx-background-color: -fx-control-inner-background;
}

.custom-sprav-box:disabled {
    -fx-opacity: .4;
}

.custom-sprav-box > .text-field.text-control {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0.5, 1;

    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
}

.custom-sprav-box > .text-field.text-control:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: -0.2, 0.5, 1;
    -fx-background-radius: 0;
}

.custom-sprav-box > * > .button.center-pill {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 1;
    -fx-background-radius: 0;
}

.custom-sprav-box > * > .button.right-pill {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 1;
    -fx-background-radius: 0;
}

/*******************************************************************************
 *                                                                             *
 * Custom MessageBox                                                           *
 *                                                                             *
 ******************************************************************************/

.message-gridpane {
    -fx-color: -fx-base;
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 0.5, 0 0 0 0;
    -fx-background-radius: 0;
    -fx-opacity: 90%;
}

.message-box-title {
    -fx-text-fill: -fx-text-background-color;

    -fx-font-family: 'Helvetica';
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.message-box-title:focused {
    -fx-background-color: null;
    -fx-border-color: null;
}

.message-box-text {
    -fx-text-fill: -fx-text-background-color;

    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
}

.message-box-text:focused {
    -fx-background-color: null;
    -fx-border-color: null;
}

.message-box-button {
    -fx-font-family: 'Helvetica';
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}